.OTPublisherContainer {
    position: fixed !important;
    z-index: 10;
    width: 150px !important;
    height: 150px !important;
}   
.OTSubscriberContainer {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    z-index: 9;
}

.OT_publisher {
    position: fixed;
    top: 4%;
    right: 4%;
    z-index: 10;
}

.OT_subscriber {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.video__button {
    width: 100%;
    text-align: center;
}

.video__button--end_call {
    z-index: 11;
    position: fixed;
    bottom: 5%;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}
