.OTPublisherContainer {
    position: absolute;
    z-index: 10;
    width: 100px !important;
    height: 100px !important;
}   
.OTSubscriberContainer {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    z-index: 9;
}
