.tag{
    text-align: left;
}

.search{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control{
    height: 45px;
    min-height: 45px;
    width: 100%;
    font-weight: 20;
    font-size: 18px;
    padding: 15px;
    color: #ffffff !important;
    background-color: #191919 !important;
    border-radius: 5px;
    border: none;
    justify-items: center;
    overflow: hidden;
    resize: hidden;
    border: 1px solid #191919 !important;
}
.form-control:focus {
    outline: none !important;
    border: 1px solid #f51a63 !important;
}
.chat_item {
    border-bottom: 2px solid #191919;
    padding: 3%;
}